{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% if app.user and app.user.isRegistered %}
			<h1>¡YA ESTÁS REGISTRADO!</h1> 
      		<h2>PRÓXIMO VUELO EN</h2>
			{% else %}
			<h1>PARTICIPÁ POR UN VIAJE A BRASIL PARA VOS Y 3 AMIGOS</h1>
			{% endif %}
			
			{{ render(controller('OdiseoLanBundle:Frontend/Main:countdown')) }}
		
			{% if not app.user or not app.user.isRegistered  %}
      		<!-- <h2>GANATE UN VIAJE A BRASIL CON AMIGOS</h2> -->
      		<!-- pasos 
			<div class="pasos clearfix">
				<div class="col-xs-4">
					<div class="ico"><img src="{{ asset('bundles/odiseolan/images/ico1.png') }}"/></div>
					twiteá mencionando
					3 amigos desde la app 
				</div>
        		<div class="col-xs-4">
          			<div class="ico"><img src="{{ asset('bundles/odiseolan/images/ico2.png') }}"/></div>
          			mantené tu<br>
          			avatar en el avión 
          		</div>
        		<div class="col-xs-4">
          			<div class="ico"><img src="{{ asset('bundles/odiseolan/images/ico3.png') }}"/></div>
          			ganá 4 pasajes<br>
          			a brasil 
          		</div>
			</div>    --> 
      
      		{%   if not app.user %}
      		<!-- login -->
      		<a href="{{ hwi_oauth_login_url('twitter') }}" class="btn btn-primary">
      			<i class="glyphicon"><img src="{{ asset('bundles/odiseolan/images/twitter.png') }}"></i>
      			<strong>Inicia sesión con twitter </strong> y subite al avión
      		</a>
      		{%   else %}
      		<!-- register -->
			{{ include('OdiseoLanBundle:Frontend/Main:registerForm.html.twig') }}
			
      		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
      			<i class="glyphicon glyphicon-ok"></i>
      			<strong>Hacé Check In </strong> y subite al avión
      		</a>
			{%   endif %}
			{% endif %}
      	</div>
  </div>
</div>
{% endblock %}
