<!--  USER IS LOGGED , BUT IS NOT PARTCIPATING -->


<form class="form" action="{{ path('lan_register')}}" method="post" id="register-form">
		<div class="formTop">
			<img src="{{ asset('bundles/odiseolan/images/form-image.png') }}" />
			<div class="inputsTop">
				<input type="text" name="register[fullname]" placeholder="Nombre y Apellido"    value="{{ fullName|default('') }}" id="register_fullname" class="long"
					data-rule-required="true"
				>
				<input type="text" name="register[dni]" id="register_dni"  value="{{ dni|default('') }}"   placeholder="Dni" class="short"
					maxlength="8"
					data-rule-required="true" data-rule-minlength="8" data-rule-maxlength="8"  data-rule-digits="true"
				>
				<input type="text" name="register[edad]" id="register_edad"  value="{{ edad|default('') }}"    placeholder="Edad" class="short"
					data-rule-required="true" data-rule-digits="true"
				>
				<input type="text" name="register[telefono]" id="register_telefono" value="{{ telefono|default('') }}"  placeholder="Teléfono" class="long"
					data-rule-digits="true"
				>
			</div>
			<div class="inputsBottom">
				<input type="text"  name="register[nacionalidad]" id="register_nacionalidad" value="{{ nacionalidad|default('') }}"  placeholder="Nacionalidad" class="long"
					data-rule-required="true"
				>
				<input type="text" name="register[mail]" id="register_mail" value="{{ email|default('') }}"   placeholder="Mail" class="email"
					data-rule-required="true" data-rule-email="true"
				>
				<input type="checkbox" name="terms" value="terms" class="checkbox"
					data-rule-required="true"
				><p>Acepto los términos y condiciones</p>
			</div>
		</div>
		<div class="formBottom">
			<button class="follow fontsforweb_fontid_1416">FOLLOW</button>
			<button type="submit " class="register fontsforweb_fontid_1416">PARTICIPAR</button>
		</div>
	
</form>
