{% macro list(users) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if users|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			<tr>
				<th>ID</th>
				<th>Nombre y Apellido</th>
				<th>Nombre Usuario</th>
				<th>Dni</th>
				<th>Edad</th>
				<th>Telefono</th>
				<th>Provincia</th>
				<th>Email</th>				
				<th>Newsletter?</th>
				<th></th>
			</tr>
			{% for user in users %}
	        <tr>
				<td>{{ user.id }}</td>
				<td>{{ user.fullname }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.dni }}</td>
				<td>{{ user.edad }}</td>
				<td>{{ user.telefono }}</td>
				<td>{{ user.provincia }}</td>
				<td>{{ user.mail }}</td>				
				<td>
					{% if user.acceptNewsletter %}
					<span class="label label-success">Sí</span>
					{% else %}
					<span class="label label-danger">No</span>
					{% endif %}
				</td>
				<td></td>
				<td>		
							
					<div class="pull-right">
						<a class="btn btn-success" href="{{ path('odiseo_lan_twitteruser_index_by_user', {'user_id': user.id} )}}">Ver Tweets ({{ user.twitters|length }})</a>
	                    <form action="{{ path('odiseo_lan_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Estas seguro?')" method="post" style="display: inline;">
    						<input type="hidden" name="_method" value="DELETE">
    						<button class="btn btn-danger">
        						<i class="icon-trash"></i><span>Eliminar</span>
    						</button>
						</form>
	                </div>
				</td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}