<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<meta name="description" content="Mes del amigo LAN: Participá por un viaje a Brasil para vos y 3 amigos.">
		<meta name="keywords" content="lan, mes, amigo, viaje, brasil, twitter, tweets, promo, promocion, oportunidad">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        
        <title>{% block title %}Mes del Amigo - Lan{% endblock %}</title>

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        
	    <!-- stylesheets -->
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
			'bundles/odiseolan/css/vendor/bootstrap.min.css'
			'bundles/odiseolan/css/main.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
		
		<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    </head>
    <body class="inicio">
    	<!-- Header -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="logo"><a href="{{ path('odiseo_lan_frontend_homepage') }}"><img src="{{ asset('bundles/odiseolan/images/lan.png') }}" alt="LAN Argentina"/></a></div>
				{% if app.user %}
				<!-- <a href="#" class="twitter"></a> -->
				<div class="user">
					<span>Bienvenido, <strong>{{ app.user.canonicalName }}</strong></span> 
					<img class="img-circle" src="{{ app.user.twitterProfileImageUrl }}" />
				</div>
				{% else %}
				<a href="{{ hwi_oauth_login_url('twitter') }}" class="btn btn-primary signinButton">
		      		<i class="glyphicon"><img src="{{ asset('bundles/odiseolan/images/twitter.png') }}"></i>
      				<strong>Iniciar sesión con twitter</strong>
      			</a>
				{% endif %}
			</div>
		</nav>
			
		{% block content %}{% endblock %}
				
		<div class="modal fade" id="alertModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body" id='modal-body'>
						<p class="message"></p>
					</div>
				</div>
		  	</div>
		</div>
		
		<!-- <div class="footer"> 
			<a href="#1">Bases y Condiciones</a> 
			<a href="#1">Preguntas Frecuentes</a> 
			<a href="#1">Como Funciona</a> 
		</div>  -->
		
		<!-- javascript -->
		{# javascripts... #}
		{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/odiseolan/js/vendor/jquery-1.11.1.min.js') }}"></script>
		{% javascripts output='js/frontend.min.js'
			'bundles/odiseolan/js/vendor/bootstrap.min.js'
			'bundles/odiseolan/js/vendor/jquery.countdown.js'
			'bundles/odiseolan/js/vendor/jquery.validate.min.js'
			'bundles/odiseolan/js/main.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
    </body>
</html>
