<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<meta name="description" content="Lan">
		<meta name="keywords" content="lan">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}Lan{% endblock %}</title>

	     <!-- stylesheets -->
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
			'bundles/odiseolan/css/vendor/bootstrap.min.css'
			'bundles/odiseolan/css/main.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
    </head>
    <body>
    	<div class="container">
	    	<header>				
	    		
	    		{% if app.user  %}
	    		
	    		<div class="login">
	    			<a href="#"  class="follow fontsforweb_fontid_1416 avatar"><img src="{{ asset('bundles/odiseolan/images/avatar.png') }}" /><p class="welcome">Bienvenido</p><p class="user">{{ app.user.userName }}</p></a>
	    		</div>
	    		
	    	
	    		{% else %}
	    		
	    		<div class="login">
	    			<a href="{{ hwi_oauth_login_url('twitter') }}"  class="ingresar follow fontsforweb_fontid_1416"><img src="{{ asset('bundles/odiseolan/images/twitter.png') }}" />INGRESAR CON TWITTER</a>
	    		</div>
	    		{% endif %}
	    	
	    	</header>
			{% block content %}
			<section></section>
			{% endblock %}
			<footer>
				  <img src="{{ asset('bundles/odiseolan/images/footer-lan.png') }}" />
				  <p>Promoción válida en Argentina desde el 01.04.2014 hasta el 31.05.2014. Ver bases y condiciones en <a>www.lan.com.ar</a></p>
			</footer>
		</div>
		
		<!-- javascript -->
		{# javascripts... #}
		{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/odiseolan/js/vendor/jquery-1.11.1.min.js') }}"></script>
		{% javascripts output='js/frontend.min.js'
			'bundles/odiseolan/js/vendor/bootstrap.min.js'
			'bundles/odiseolan/js/vendor/jquery.countdown.js'
			'bundles/odiseolan/js/vendor/jquery.validate.min.js'
			'bundles/odiseolan/js/main.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
    </body>
</html>
